<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZeladorX</title>
</head>
<body>
    <div style="text-align: center;">
         <p style="font-size: 25px; color: #D3D3D3; font-family: Arial, sans-serif; font-weight: bold;">ZeladorX</p>
    </div>
    <div style="margin-top: 20px; text-align: center;">
        <h2 style="font-size: 18px; color: #000; font-family: Arial, sans-serif;">{{ username }}, {{ email }}, seu código de alteração de senha é</h2>
        <p style="font-size: 25px; color: #8FBC8F; font-family: Arial, sans-serif; font-weight: bold;">{{ randon_token }}</p>
    </div>
</body>
</html>