  {% load static %}
{% load custom_filters %}
<!DOCTYPE html>
  <html lang="en" xmlns="http://www.w3.org/1999/html">
{% include 'partials/_header.html' %}
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    {% include 'partials/_right_sidebar_links.html' %}

    <!-- Right navbar links -->
    {% include 'partials/_right_sidebar.html' %}
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    {% include 'partials/_brand_logo.html' %}

    <!-- Sidebar -->
    {% include 'partials/_left_sidebar.html' %}
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {% include 'partials/_left_sidebar_links.html' %}

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        {% include 'partials/_messages.html' %}
        {% include 'partials/_form_search.html' %}
        <!-- Timelime example  -->
        {% for dado in dados_paginados %}
          <div class="row">
            <div class="col-md-12">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-header">
                        <div>
                          Serviço: {{ dado.servico_agendado }}</br>
                          </br>
                          Descrição do serviço: {{ dado.descricao }}</br>
                          {% if dado.status == 'Pendente' %}
                              Status: <span class="badge bg-warning">{{ dado.status }}</span></br>
                          {% else %}
                              Status: <span class="badge bg-success">{{ dado.status }}</span></br>
                          {% endif %}
                          Atualizado em: {{ dado.atualizado_em }}</br>


                          {% if dado.foto_comprovacao == "" or dado.foto_comprovacao == null %}
                            <img src="{% static 'dist/img/not found.png' %}" alt="Not found imagem" class="img-fluid">
                          {% else %}
                            <img src="{{ dado.foto_comprovacao.url }}" alt="Imagem do Objeto" class="img-fluid">
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        {% endfor %}
        <div class="modal-footer justify-content-between">
          <!-- Botão Fechar à esquerda -->
          <a href="{{ redirect_close_button }}">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Fechar
            </button>
          </a>
          <!-- Botões agrupados à direita -->
        </div>
        {% include 'partials/_paginate.html' %}
      </div>
      <!-- /.timeline -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% include 'partials/_footer.html' %}

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
</body>
</html>
