{% load static %}
<div class="sidebar">
  <!-- Sidebar user panel (optional) -->
  <div class="mb-3">
  </div>

  <!-- SidebarSearch Form -->
<!--  para remover o destaque branco basta retirar a tag ative de active das urls relativas no menus suspensos-->
  <div class="form-inline">
    <div class="input-group" data-widget="sidebar-search">
      <input class="form-control form-control-sidebar" type="search" placeholder="Pesquisar" aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-sidebar">
          <i class="fas fa-search fa-fw"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!--Relatórios-->
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-book"></i>
          <p>
            Relatórios
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{% url 'relatorios_de_servicos_jardinagem_xlsx_concluidos' userid %}" class="nav-link active">
              <i class="far fa-circle nav-icon"></i>
              <p>Excel S. concluidos</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'relatorios_de_servicos_jardinagem_pdf_concluidos' userid %}" class="nav-link active">
              <i class="far fa-circle nav-icon"></i>
              <p>PDF S. concluidos</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'relatorios_de_servicos_jardinagem_xlsx_agendados' userid %}" class="nav-link active">
              <i class="far fa-circle nav-icon"></i>
              <p>Excel S. planejados</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'relatorios_de_servicos_jardinagem_pdf_agendados' userid %}" class="nav-link active">
              <i class="far fa-circle nav-icon"></i>
              <p>PDF S. planejados</p>
            </a>
          </li>
        </ul>
      </li>
      <!--Catálogo de serviços-->
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-edit"></i>
          <p>
            Catálogo de serviços
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          {% if habilitar_jardinagem %}
            <li class="nav-item">
              <a href="{% url 'catalogo_de_servicos_jardinagem' userid %}" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Jardinagem</p>
              </a>
            </li>
          {% endif %}
          {% if habilitar_limpeza %}
            <li class="nav-item">
              <a href="{% url 'catalogo_de_servicos_limpeza_predial' userid %}" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Limpeza predial</p>
              </a>
            </li>
          {% endif %}
        </ul>
      </li>

      <!--Serviços agendados-->
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-edit"></i>
          <p>
            Serviços agendados
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          {% if habilitar_jardinagem %}
            <li class="nav-item">
              <a href="{% url 'servicos_agendados_jardinagem' userid %}" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Jardinagem</p>
              </a>
            </li>
          {% endif %}
          {% if habilitar_limpeza %}
            <li class="nav-item">
              <a href="{% url 'servicos_agendados_limpeza_predial' userid %}" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Limpeza predial</p>
              </a>
            </li>
          {% endif %}
        </ul>
      </li>

            <!--Serviços agendados-->
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-edit"></i>
          <p>
            Serviços configurados
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          {% if habilitar_jardinagem %}
            <li class="nav-item">
              <a href="{% url 'servicos_configurados_jardinagem' userid %}" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Jardinagem</p>
              </a>
            </li>
          {% endif %}
          {% if habilitar_limpeza %}
            <li class="nav-item">
              <a href="{% url 'servicos_configurados_limpeza_predial' userid %}" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Limpeza predial</p>
              </a>
            </li>
          {% endif %}
        </ul>
      </li>

      <!--Serviços-->
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-edit"></i>
          <p>
            Agendar serviço
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          {% if habilitar_jardinagem %}
            <li class="nav-item">
              <a href="{% url 'agendar_servico_jardinagem' 'calendario' userid %}" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Jardinagem</p>
              </a>
            </li>
          {% endif %}
          {% if habilitar_limpeza %}
            <li class="nav-item">
              <a href="{% url 'agendar_servico_limpeza_predial' 'calendario' userid %}" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Limpeza predial</p>
              </a>
            </li>
          {% endif %}
        </ul>
      </li>


      <!--Serviços-->
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-edit"></i>
          <p>
            Configurar serviço
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          {% if habilitar_jardinagem %}
            <li class="nav-item">
              <a href="{% url 'configurar_servico_jardinagem' userid %}" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Jardinagem</p>
              </a>
            </li>
          {% endif %}
          {% if habilitar_limpeza %}
            <li class="nav-item">
              <a href="{% url 'configurar_servico_limpeza_predial' userid %}" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Limpeza predial</p>
              </a>
            </li>
          {% endif %}
        </ul>
      </li>

      <!--Unidades-->
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-ellipsis-h"></i>
          <p>
            Unidades
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{% url 'unidades' userid %}" class="nav-link active">
              <i class="far fa-circle nav-icon"></i>
              <p>Unidades</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'localidades_jardinagem' userid %}" class="nav-link active">
              <i class="far fa-circle nav-icon"></i>
              <p>Localidades</p>
            </a>
          </li>
          {% if habilitar_jardinagem %}
            <li class="nav-item">
              <a href="{% url 'areas_jardins' userid %}" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Áreas Jardinagem</p>
              </a>
            </li>
          {% endif %}
          {% if habilitar_limpeza %}
            <li class="nav-item">
              <a href="{% url 'areas_limpeza_predial' userid %}" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Áreas L. Predial</p>
              </a>
            </li>
          {% endif %}
          {% if habilitar_jardinagem %}
            <li class="nav-item">
              <a href="{% url 'terrenos' userid %}" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Terrenos</p>
              </a>
            </li>
          {% endif %}
          {% if habilitar_jardinagem %}
            <li class="nav-item">
              <a href="{% url 'vegetacao' userid %}" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Vegetação</p>
              </a>
            </li>
          {% endif %}
        </ul>
      </li>
      <!--Gerentes-->
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-ellipsis-h"></i>
          <p>
            Gerentes
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{% url 'gerentes_jardinagem' userid %}" class="nav-link active">
              <i class="far fa-circle nav-icon"></i>
              <p>Gerentes</p>
            </a>
          </li>
        </ul>
      </li>
      <!--Empresas-->
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-ellipsis-h"></i>
          <p>
            Empresas
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{% url 'empresas_jardinagem' userid %}" class="nav-link active">
              <i class="far fa-circle nav-icon"></i>
              <p>Empresas</p>
            </a>
          </li>
        </ul>
      </li>
      <!--Authenticate-->
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-ellipsis-h"></i>
          <p>
            Auth
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link active">
              <i class="far fa-circle nav-icon"></i>
              <p>Logout</p>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="{% url 'medidor_upload' userid %}" class="nav-link">
          <i class="nav-icon fas fa-ellipsis-h"></i>
          <p>
            Dimensionador
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
      </li>
      <!--Permissions-->
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-ellipsis-h"></i>
          <p>
            Permissões de usuário
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{% url 'permissoes_jardinagem' userid %}" class="nav-link active">
              <i class="far fa-circle nav-icon"></i>
              <p>Gerentes</p>
            </a>
          </li>
        </ul>
      </li>

            <!--Serviços agendados-->
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-edit"></i>
          <p>
            Conf. notificações
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'configurar_notificacoes_jardinagem' userid %}" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Gerais</p>
              </a>
            </li>
<!--            <li class="nav-item">-->
<!--              <a href="{% url 'configurar_notificacoes_limpeza_predial' userid %}" class="nav-link active">-->
<!--                <i class="far fa-circle nav-icon"></i>-->
<!--                <p>Limpeza predial</p>-->
<!--              </a>-->
<!--            </li>-->
        </ul>
      </li>

      <li class="nav-header">Visualizações</li>
      <li class="nav-item">
        <a href="#" class="nav-link active">
          <i class="nav-icon fas fa-ellipsis-h"></i>
          <p>
            Visualizações
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{% url 'calendario_jardinagem' userid %}" class="nav-link active">
              <i class="far fa-circle nav-icon"></i>
              <p>
                Calendário
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'kanban_jardinagem' userid %}" class="nav-link active">
              <i class="far fa-circle nav-icon"></i>
              <p>
                Kanban
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'gantt_jardinagem' userid %}" class="nav-link active">
              <i class="far fa-circle nav-icon"></i>
              <p>
                Gantt
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'mapas_jardinagem' userid %}" class="nav-link active">
              <i class="far fa-circle nav-icon"></i>
              <p>
                Mapas
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'tempo_desde_ultimo_atendimento_jardinagem' userid %}" class="nav-link active">
              <i class="far fa-circle nav-icon"></i>
              <p>Retorno as áreas</p>
            </a>
          </li>
        </ul>
      </li>

<!--      <li class="nav-header">Calendários</li>-->
<!--      <li class="nav-item">-->
<!--        <a href="{% url 'calendario_jardinagem' userid %}" class="nav-link active">-->
<!--          <i class="nav-icon far fa-calendar-alt"></i>-->
<!--          <p>-->
<!--            Calendário-->
<!--            <span class="badge badge-info right"></span>-->
<!--          </p>-->
<!--        </a>-->
<!--      </li>-->
<!--      <li class="nav-header">Kanbans</li>-->
<!--      <li class="nav-item">-->
<!--        <a href="{% url 'kanban_jardinagem' userid %}" class="nav-link active">-->
<!--          <i class="nav-icon fas fa-columns"></i>-->
<!--          <p>-->
<!--            Kanban Board-->
<!--            <span class="badge badge-info right"></span>-->
<!--          </p>-->
<!--        </a>-->
<!--      </li>-->
<!--      <li class="nav-header">Gantts</li>-->
<!--      <li class="nav-item">-->
<!--        <a href="{% url 'gantt_jardinagem' userid %}" class="nav-link active">-->
<!--          <i class="nav-icon fas fa-columns"></i>-->
<!--          <p>-->
<!--            Gantt Graphs-->
<!--            <span class="badge badge-info right"></span>-->
<!--          </p>-->
<!--        </a>-->
<!--      </li>-->


      <li class="nav-header">Dashboards</li>
      <li class="nav-item">
        <a href="#" class="nav-link active">
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <p>
            Dashboards
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'dashboard_produtividade_jardinagem' userid %}" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Gerencial</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'dashboard_administrativo_jardinagem' userid %}" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Administrativo</p>
              </a>
            </li>
        </ul>
      </li>
    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>